.mypage_pw{
    padding-top: 0px;
    margin: auto;
    margin-top: 60px;
}

.mp_content > span{
    color: orangered;
    letter-spacing: -1px;
}

.mp_btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0px !important;
}

.mypage_pw_back {
    text-align: right;
    margin-top: 10px;
}

.btn_group {
    text-align: right;
}