.result_cont{
    position: relative;
    margin-top: 50px;
}
.result_header{
    text-align: center;
}
.result_line{
    margin-top: 80px;
}

.result_level{
    padding-left: 75px !important;
    font-size: 15px;
}