.labelingTitle {
    margin: 20px 0px 20px 0px;
}

.subTitle {
    margin-bottom: 20px;
}

.imagePreviewCanvas {
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-content: center;
}

.captureButtonGrid {
    display: flex;
    justify-content: center;
}

.captureButton {
    width: 100px;
}

.subTitle {
    margin-bottom: 20px;
}

.imagePreviewCanvas {
    background: #f7f7f7;
    height: 80%;
}

.captureButtonGrid {
    display: flex;
    justify-content: center;
}

.captureButton {
    width: 100px;
}

.finishButtonLocation {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
}

.capture_box{
    margin-bottom: 40px;
}