.navigation {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    /*
        -webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.75);
    */
}

.logo {
    float: left;
    height: 50px;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: flex-end;
}

.menu_item {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.avatar {
    align-items: center;
    height: inherit;
    justify-content: center;
    margin-right: 10px;
}

.text {
    color: black;
}

