.jinput_label {
    font-size: 13px;
    color: #555;
}

.jinput {
    padding: 10px 15px;
    width: 100%;
    border-width: 0px 0px 1px 0px !important;
    border-bottom: 1px solid #ddd !important;
    color: #777;
    outline: 0px;
}

.jinput::placeholder {
    color: #aaa;
}