.jinput_label {
    font-size: 13px;
    color: #555;
}

.jinput {
    padding: 10px 15px;
    width: 100%;
    border: 0px solid;
    border-bottom: 1px solid #ddd;
    color: #777;
    outline: 0px;
}

.jinput::placeholder {
    color: #aaa;
}