.navigation {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    left: 0;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 1000;
    margin-top: 30px;
    border-bottom: 1px solid #eee;
}

.logo {
    float: left;
    height: 50px;
}

.menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: flex-end;
}

.menu_item {
    align-items: center;
    display: flex;
    height: inherit;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.avatar {
    align-items: center;
    height: inherit;
    justify-content: center;
    margin-right: 10px;
}

.text {
    color: black;
}

.text:hover{
    cursor: pointer;
    color: #2b63f0;
}