.main_top_header {
    text-align: left;
}

.router_top_logo {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main_top_header > div {
    float: right;
    display: inline-block;
    margin: 40px 0px;
    font-size: 15px;
    font-weight: 100;
}

.main_top_menu > * {
    margin: 0px 20px;
    color: #313131;
}